.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

vendor
tests/_log
tests/_data
tests/acceptance/WebGuy.php
tests/functional/TestGuy.php
tests/unit/CodeGuy.php
tmp